-
    const events = [
        {
            left: 22,
            prvBottom: 123,
            dotBottom: 5,
            content: '18&nbsp;августа 2008 года&nbsp;&mdash; Зарегистрирован домен bitcoin.org',
            rate: '$0',
        },
        {
            left: 112,
            prvBottom: 342,
            dotBottom: 5,
            content: '31&nbsp;октября 2008 года&nbsp;&mdash; Сатоши Накамото опубликовал whitepaper биткоина с&nbsp;описанием протокола и&nbsp;принципа работы платежной системы в&nbsp;виде одноранговой сети',
            button: 'Смотреть видеокомментарий',
            rate: '$0',
        },
        {
            left: 193,
            prvBottom: 76,
            dotBottom: 5,
            content: '3&nbsp;января 2009 года&nbsp;&mdash; Сгенерирован genesis-блок первой криптовалюты и&nbsp;добыты первые 50&nbsp;BTC. В&nbsp;первый блок был включен текст: &laquo;The Times 03/Jan/2009 Chancellor on&nbsp;brink of&nbsp;second bailout for banks.&raquo; Это сделали, чтобы подтвердить дату генерирования блока.',
            rate: '$0',
        },
        // {
        //     left: 218,
        //     prvBottom: 207,
        //     dotBottom: 5,
        //     rate: '0',
        // },
        {
            left: 350,
            prvBottom: 342,
            dotBottom: 5,
            content: '12&nbsp;января 2009 года&nbsp;&mdash; Первая биткоин-транзакция: Сатоши Накамото отправил Хэлу Финни 10&nbsp;BTC. Так Финни стал вторым участником сети.',
            rate: '$0.0009940594',
        },
        {
            left: 445,
            prvBottom: 76,
            dotBottom: 5,
            content: 'Сентябрь 2009 года&nbsp;&mdash; Первый обмен биткоина на&nbsp;фиат. Марти Малми отправил пользователю с&nbsp;псевдонимом NewLibertyStandard 5050&nbsp;BTC, за&nbsp;которые получил на&nbsp;свой счет в&nbsp;PayPal 5,02&nbsp;доллара; NewLibertyStandart предложил использовать для оценки биткоина стоимость электроэнергии, затрачиваемой на&nbsp;его добычу.',
            button: 'Смотреть видеокомментарий',
            rate: '0.0002 пиццы<br>(менее $0.01 за BTC)',
        },
        {
            left: 470,
            prvBottom: 207,
            dotBottom: 5,
            content: '22&nbsp;мая 2010 года&nbsp;&mdash; Первый обмен биткоина на&nbsp;физический товар: Ласло Хейниц за&nbsp;10&nbsp;000&nbsp;BTC приобрел две пиццы. С&nbsp;тех пор криптосообщество каждый год отмечает Bitcoin Pizza Day.',
            rate: '$0.008&mdash;$0.08',
        },
        {
            left: 495,
            prvBottom: 342,
            dotBottom: 5,
            content: 'Июль 2010 года&nbsp;&mdash; Начала работу Mt. Gox, вскоре ставшая крупнейшей и&nbsp;наиболее известной в&nbsp;свое время биржей',
            rate: '~ $0.05',
        },
        {
            left: 644,
            prvBottom: 273,
            dotBottom: 5,
            content: '11&nbsp;июля 2010 года&nbsp;&mdash; Первая публикация о&nbsp;биткоине на&nbsp;сайте с&nbsp;высокой посещаемостью&nbsp;&mdash; Slashdot.com.',
            rate: '~ $0.06',
        },
        {
            left: 694,
            prvBottom: 76,
            dotBottom: 5,
            content: 'Август 2010 года&nbsp;&mdash; В&nbsp;протоколе биткоина обнаружена серьезная уязвимость, позволявшая создавать неограниченное количество монет.&nbsp;15&nbsp;августа уязвимость была задействована и&nbsp;более 184 млрд BTC было отправлено на&nbsp;два адреса. Разработчикам удалось быстро исправить ошибку, обновив протокол.',
            rate: '$0.17',
        },
        {
            left: 890,
            prvBottom: 177,
            dotBottom: 5,
            content: 'Ноябрь 2010 года&nbsp;&mdash; Капитализация биткоина превысила $1&nbsp;млн.',
            rate: '$0.21',
        },
        {
            left: 990,
            prvBottom: 342,
            dotBottom: 5,
            content: '12&nbsp;декабря 2010 года&nbsp;&mdash; Последнее сообщение Сатоши Накамото на&nbsp;форуме Bitcointalk',
            button: 'Читать',
            link: 'https://forklog.com/istoriya-silk-road-kak-bitkoin-vyvel-darknet-ekonomiku-na-novyj-uroven/',
            rate: '$1.00',
        },
        {
            left: 1093,
            prvBottom: 76,
            dotBottom: 5,
            content: 'Начало 2011 года&nbsp;&mdash; Запуск даркнет-маркетплейса Silk Road. Торговля незаконными товарами на&nbsp;нем стала первым юзкейсом биткоина и&nbsp;положила начало целому сектору даркнет-экономики',
            button: 'Читать',
            link: 'https://forklog.com/bratya-uinklvossy-protiv-shrema-borba-za-5000-btc/',
            rate: '$3',
        },
        {
            left: 1200,
            prvBottom: 376,
            dotBottom: 5,
            content: '2011&nbsp;&mdash; Запуск биткоин-биржи BitInstant, через которую в&nbsp;индустрию пришли Эрик Ворхес (ShapeShift) и&nbsp;братья Уинклвоссы (Gemini)',
            rate: '$31.00',
        },
        {
            left: 1250,
            prvBottom: 280,
            dotBottom: 69,
            content: 'Июнь 2011 года&nbsp;&mdash; Капитализация биткоина превысила $200&nbsp;млн.',
            rate: '~ $3.5',
        },
        {
            left: 1336,
            prvBottom: 183,
            dotBottom: 5,
            content: 'Октябрь 2011&nbsp;&mdash; Запуск Litecoin',
            rate: '$5.1',
        },
        {
            left: 1470,
            prvBottom: 358,
            dotBottom: 27,
            content: '20&nbsp;июня 2012 года&nbsp;&mdash; Запуск биткоин-биржи Coinbase. Впоследствии она станет одной из&nbsp;самых влиятельных компаний в&nbsp;криптоиндустрии.',
            rate: '~ $11',
        },
        {
            left: 1496,
            prvBottom: 356,
            dotBottom: 27,
            content: 'Сентябрь 2012&nbsp;&mdash; Основание некоммерческой организации Bitcoin Foundation. Организация работала над массовым принятием биткоина, но&nbsp;зачастую становилась объектом критики в&nbsp;сообществе.',
            rate: '~ $6',
        },
        {
            left: 1571,
            prvBottom: 188,
            dotBottom: 27,
            content: '2012 год&nbsp;&mdash; Релиз протокола Ripple. Позднее внутренняя валюта сети XRP стала третьей по&nbsp;капитализации криптовалютой.',
            rate: '$12.25',
        },
        {
            left: 1596,
            prvBottom: 187,
            dotBottom: 71,
            content: '28&nbsp;ноября 2012 года&nbsp;&mdash; Первый халвинг биткоина: награда майнерам за&nbsp;добытый блок уменьшилась вдвое&nbsp;&mdash; с&nbsp;50&nbsp;BTC до&nbsp;25&nbsp;BTC.',
            rate: '~ $13',
        },
        {
            left: 1621,
            prvBottom: 227,
            dotBottom: 93,
            content: 'Январь 2013 года&nbsp;&mdash; Цена биткоина достигла $13,30, а&nbsp;уже феврале 1&nbsp;BTC стоит дороже унции серебра.',
            rate: '~ $60',
        },
        {
            left: 1646,
            prvBottom: 389,
            dotBottom: 115,
            content: 'Март 2013 года&nbsp;&mdash; Рыночная капитализация биткоина достигла $1&nbsp;млрд.',
            rate: '$37',
        },
        {
            left: 1646,
            prvBottom: 381,
            dotBottom: 93,
            content: '11&nbsp;марта 2013&nbsp;&mdash; Значительный сбой из-за конфликта двух разных версий&nbsp;ПО биткоина привел к&nbsp;остановке транзакций, резкой распродаже и&nbsp;23-процентному снижению цены BTC до&nbsp;$37.',
            rate: '$213',
        },
        {
            left: 1695,
            prvBottom: 390,
            dotBottom: 171,
            content: 'Апрель 2013 года&nbsp;&mdash; Цена биткоина начала месяц с&nbsp;отметки $100, а&nbsp;через неделю превысила $200.',
            button: 'Смотреть видеокомментарий',
            rate: '~ $100',
        },
        {
            left: 1849,
            prvBottom: 228,
            dotBottom: 109,
            content: 'Лето 2013 года&nbsp;&mdash; Первое в&nbsp;истории первичное предложение монет (ICO): проекту Mastercoin удалось привлечь около 5&nbsp;000&nbsp;BTC. Впоследствии сфера ICO переживет стремительный взлет и&nbsp;не&nbsp;менее впечатляющий спад.',
            button: 'Читать',
            link: 'https://forklog.com/istoriya-silk-road-kak-bitkoin-vyvel-darknet-ekonomiku-na-novyj-uroven/',
            rate: '$66',
        },
        {
            left: 2001,
            prvBottom: 370,
            dotBottom: 131,
            content: 'Октябрь 2013 года&nbsp;&mdash; ФБР закрыло крупнейший даркнет-маркетплейс Silk Road, арестовав его создателя Росса Ульбрихта. Цена биткоина отреагировала&nbsp;66% падением&nbsp;&mdash; со&nbsp;$124 до&nbsp;$82.',
            rate: '~ $168',
        },
        {
            left: 2228,
            prvBottom: 311,
            dotBottom: 192,
            content: 'Октябрь 2013 года&nbsp;&mdash; Первый в&nbsp;мире биткоин-банкомат установлен в&nbsp;канадском Ванкувере.',
            rate: '$1240',
        },
        {
            left: 2508,
            prvBottom: 515,
            dotBottom: 290,
            content: 'Ноябрь 2013 года&nbsp;&mdash; Цена биткоина впервые преодолела отметку $1000. На&nbsp;некоторое время BTC достиг паритета с&nbsp;тройской унцией золота на&nbsp;отметке $1240.',
            rate: '~ $992',
        },
        {
            left: 2533,
            prvBottom: 575,
            dotBottom: 290,
            content: 'Ноябрь 2013&nbsp;&mdash; Виталик Бутерин опубликовал whitepaper Ethereum. Инфраструктура Ethereum стала популярной среди блокчейн-проектов.',
            button: 'Читать',
            link: 'https://forklog.com/beskonechnaya-istoriya-obrushat-li-tsenu-bitkoina-vyplaty-investoram-mt-gox/',
            rate: '~ $663',
        },
        {
            left: 2606,
            prvBottom: 351,
            dotBottom: 268,
            content: 'Декабрь 2013&nbsp;&mdash; Народный банк Китая заявил, что не&nbsp;допустит, чтобы финучреждения страны работали с&nbsp;биткоином. Цена BTC резко упала до&nbsp;отметки $600, но&nbsp;затем восстановилась в&nbsp;диапазоне $900-1000.',
            rate: '$1128',
        },
        {
            left: 2916,
            prvBottom: 351,
            dotBottom: 251,
            content: 'Февраль 2014 года&nbsp;&mdash; Биржа Mt.Gox полностью остановила торги. Биржа потеряла принадлежавшие клиентам 744&nbsp;408&nbsp;BTC, а&nbsp;также около 100&nbsp;000 собственных биткоинов (суммарные потери по&nbsp;нынешнему курсу&nbsp;&mdash; почти $9&nbsp;млрд).',
            rate: '$618.76',
        },
        {
            left: 3002,
            prvBottom: 526,
            dotBottom: 251,
            content: '7&nbsp;марта 2014 года&nbsp;&mdash; Аккаунт Сатоши на&nbsp;P2P Foundation ожил: &laquo;Я&nbsp;не&nbsp;Дориан Накамото&raquo;. Интрига вокруг имени создателя биткоина получила неожиданный поворот.',
            rate: '~ $543',
        },
        {
            left: 3415,
            prvBottom: 351,
            dotBottom: 251,
            content: 'Июль-август 2014 года&nbsp;&mdash; ICO Ethereum. Один из&nbsp;первых токенсейлов, где инвесторы получили солидную прибыль. Успешность ICO Ethereum повлияла на&nbsp;рост популярности этой модели краудсорсинга.',
            button: 'Смотреть видеокомментарий',
            rate: '$504.00',
        },
        {
            left: 3465,
            prvBottom: 563,
            dotBottom: 251,
            content: '25&nbsp;августа 2014&nbsp;&mdash; Основание журнала ForkLog',
            button: 'Читать',
            link: 'https://forklog.com/microsoft-nachinaet-prinimat-bitkojn-k-oplate/',
            rate: '$352',
        },
        {
            left: 3879,
            prvBottom: 310,
            dotBottom: 210,
            content: '11&nbsp;декабря 2014&nbsp;&mdash; Корпорация Microsoft начала принимать биткоин для оплаты покупок в&nbsp;своем магазине. Это стало первым случаем, когда транснациональная корпорация стала работать с&nbsp;криптовалютой.',
            button: 'Читать',
            link: 'https://forklog.com/bitstamp-obeshhaet-vosstanovit-rabotu-v-blizhajshie-sutki-ukradeno-bitkoinov-bolee-chem-na-5-mln/',
            rate: '$275',
        },
        {
            left: 3967,
            prvBottom: 541,
            dotBottom: 175,
            content: '4&nbsp;января 2015&nbsp;&mdash; взлом биржи Bitstamp. Тогда биржа базировалась в&nbsp;Словении и&nbsp;была одной из&nbsp;наиболее популярных торговых платформ во&nbsp;всем мире. Хакеры украли 18,866&nbsp;BTC (около $5,2 млн на&nbsp;момент взлома).',
            button: 'Читать',
            link: 'https://forklog.com/tsena-bitkoina-prodolzhaet-rasti-na-fone-novostej-ob-otkrytii-novoj-birzhi/',
            rate: '$260',
        },
        {
            left: 3992,
            prvBottom: 457,
            dotBottom: 197,
            content: '26&nbsp;января 2015&nbsp;&mdash; Запуск Coinbase, первой в&nbsp;США лицензированной биткоин-биржи. Платформа стала крупнейшей в&nbsp;Северной Америке и&nbsp;обслуживает миллионы пользователей. Незадолго до&nbsp;запуска Coinbase получила рекордные для криптовалютной индустрии $75 млн инвестиций, в&nbsp;том числе от&nbsp;Нью-Йоркской фондовой биржи (NYSE).',
            rate: '$236.32',
        },
        {
            left: 4042,
            prvBottom: 362,
            dotBottom: 197,
            content: '18&nbsp;мая 2015 года&nbsp;&mdash; Запуск торгов первой ценной бумагой Bitcoin Tracker One на&nbsp;фондовой бирже Nasdaq Stockholm. Это первый случай признания биткоина представителями традиционного финансового рынка.',
            rate: '$234',
        },
        {
            left: 4241,
            prvBottom: 287,
            dotBottom: 187,
            content: '29&nbsp;мая 2015&nbsp;&mdash; Основатель Silk Road Росс Ульбрихт приговорен к&nbsp;пожизненному заключению.',
            rate: '$225',
        },
        {
            left: 4266,
            prvBottom: 439,
            dotBottom: 187,
            content: '2&nbsp;июня 2016&nbsp;&mdash; Опубликована окончательная редакция Bitlicense, которая регулировала ведение криптовалютного бизнеса в&nbsp;штате Нью-Йорк. Документ стал образцом для других регулирующих документов в&nbsp;криптоиндустрии и&nbsp;вызвал бурные споры в&nbsp;криптосообществе.',
            rate: '$287.31',
        },
        {
            left: 4390,
            prvBottom: 485,
            dotBottom: 200,
            content: '30&nbsp;июля 2015 года&nbsp;&mdash; Запущена сеть криптовалюты Ethereum, которая сегодня занимает второе место по&nbsp;рыночной капитализации.',
            button: 'Читать',
            link: 'https://forklog.com/yaponskie-vlasti-obvinili-ceo-mtgox-v-prisvoenii-sredstv/',
            rate: '$283',
        },
        {
            left: 4440,
            prvBottom: 436,
            dotBottom: 222,
            content: '15&nbsp;августа 2015&nbsp;&mdash; Хардфорк Bitcoin XT. Его разработчиками были члены Bitcoin Core Гэвин Андресен и&nbsp;Майк Херн.',
            button: 'Читать',
            link: 'https://forklog.com/bitkoin-ofitsialno-priznan-tovarom-v-ssha/',
            rate: '$270.81',
        },
        {
            left: 4440,
            prvBottom: 288,
            dotBottom: 200,
            content: '1&nbsp;августа 2015&nbsp;&mdash; в&nbsp;Японии арестован владелец Mt. Gox Марк Карпелес. Спустя некоторое время ему были предъявлены обвинения в&nbsp;растрате принадлежавших клиентам биткоинов на&nbsp;сотни миллионов долларов.',
            button: 'Читать',
            link: 'https://forklog.com/glavnyj-razrabotchik-yadra-bitkoina-pereklyuchitsya-na-fork-esli-razmer-bloka-ne-budet-uvelichen/',
            rate: '$267',
        },
        {
            left: 4544,
            prvBottom: 344,
            dotBottom: 200,
            content: '17&nbsp;октября 2015&nbsp;&mdash; Американская Комиссия по&nbsp;срочной биржевой торговле (CTFC) признала биткоин и&nbsp;другие криптовалюты &laquo;товарами&raquo;. Юридически криптовалюта оказалась в&nbsp;одной категории с&nbsp;нефтью и&nbsp;золотом.',
            button: 'Читать',
            link: 'https://forklog.com/bitkoin-ofitsialno-priznan-tovarom-v-ssha/',
            rate: '$318',
        },
        {
            left: 4569,
            prvBottom: 572,
            dotBottom: 200,
            content: '22&nbsp;октября 2015&nbsp;&mdash; Спустя несколько дней после решения CTFC Европейский суд признал биткоин валютой и&nbsp;освободил его от&nbsp;НДС. С&nbsp;этого момента операции по&nbsp;покупке и&nbsp;продаже биткоина за&nbsp;традиционные фиатные валюты не&nbsp;облагаются налогами на&nbsp;добавленную стоимость в&nbsp;ЕС.',
            button: 'Читать',
            link: 'https://www.economist.com/news/leaders/21677198-technology-behind-bitcoin-could-transform-how-economy-works-trust-machine',
            rate: '$366',
        },
        {
            left: 4594,
            prvBottom: 566,
            dotBottom: 200,
            content: '31&nbsp;октября 2015&nbsp;&mdash; биткоин впервые оказался на&nbsp;обложке авторитетного финансового издания The Economist. В&nbsp;статье под названием &laquo;Машина доверия&raquo; (The Trust Machine) говорилось, что банки и&nbsp;правительственные организации могут имплементировать собственные блокчейны.',
            rate: '$397',
        },
        {
            left: 4669,
            prvBottom: 362,
            dotBottom: 210,
            content: '8&nbsp;декабря 2015&nbsp;&mdash; Wired и&nbsp;Gizmodo сообщили, что создателем биткоина может быть австралийский ученый и&nbsp;предприниматель Крейг Райт.',
            button: 'Читать',
            link: 'https://forklog.com/majk-hirn-zayavil-o-krahe-bitkoina-tsena-kriptovalyuty-padaet/',
            rate: '$431',
        },
        {
            left: 4759,
            prvBottom: 319,
            dotBottom: 230,
            content: '14&nbsp;января 2016&nbsp;&mdash; Один из&nbsp;первых пропагандистов криптовалюты Майк Херн объявил об&nbsp;уходе из&nbsp;криптоиндустрии. Херн объявил о&nbsp;&laquo;смерти биткоина&raquo; и&nbsp;стал объектом жесткой критики в&nbsp;сообществе.',
            rate: '$439',
        },
        {
            left: 4832,
            prvBottom: 512,
            dotBottom: 230,
            content: '21&nbsp;февраля 2016&nbsp;&mdash; Крупные криптокомпании и&nbsp;майнеры делают совместное заявление о&nbsp;необходимости внедрения Segregated Witness и&nbsp;увеличении блока до&nbsp;2Мб. Большинство разработчиков Bitcoin Core выступили против этой инициативы.',
            rate: '$447',
        },
        {
            left: 4982,
            prvBottom: 335,
            dotBottom: 230,
            content: '2&nbsp;мая 2016&nbsp;&mdash; Крейг Райт заявил, что именно он&nbsp;и&nbsp;есть Сатоши Накамото, анонимный создателем биткоина и&nbsp;предъявил косвенные доказательства. Спустя несколько недель Райт взял свои слова обратно.',
            button: 'Читать',
            link: 'https://forklog.com/zahvatyvayushhaya-istoriya-the-dao-rabota-nad-oshibkami/',
            rate: '$756.63',
        },
        {
            left: 5032,
            prvBottom: 407,
            dotBottom: 262,
            content: '17&nbsp;июня 2016 года&nbsp;&mdash; Крах проекта The DAO: из-за ошибки в&nbsp;коде инвесторы лишились более $60&nbsp;млн.',
            button: 'Читать',
            link: 'https://forklog.com/vtoroj-v-istorii-bitkoina-halving-sostoyalsya-nagrada-majneram-snizhena-vdvoe/',
            rate: '$660',
        },
        {
            left: 5057,
            prvBottom: 588,
            dotBottom: 284,   
            content: '20&nbsp;июля 2016 года&nbsp;&mdash; Хардфорк Ethereum и&nbsp;появление Ethereum Classic. Разработчики впервые нарушили принцип &laquo;код есть закон&raquo;, чтобы вернуть инвесторам похищенные в&nbsp;результате взлома The DAO средства.',
            button: 'Читать',
            link: 'https://forklog.com/birzha-bitfinex-priostanovila-svoyu-rabotu-iz-za-problem-s-bezopasnostyu/',
            rate: '$603',
        },
        {
            left: 5057,
            prvBottom: 538,
            dotBottom: 262,
            content: '9&nbsp;июля 2016 года&nbsp;&mdash; Второй в&nbsp;истории биткоина халвинг. Награда майнерам за&nbsp;найденный блок была снижена до&nbsp;12.5&nbsp;BTC.',
            button: 'Читать',
            link: 'https://forklog.com/sostoyalsya-uspeshnyj-hardfork-ethereum/',
            rate: '$663.55',
        },
        {
            left: 5082,
            prvBottom: 488,
            dotBottom: 262,
            content: '2&nbsp;августа 2016 года&nbsp;&mdash; Взлом биржи Bitfinex. В&nbsp;результате хакерской атаки гонконгская биржа лишилась около $72 млн в&nbsp;биткоинах. Это породило новый виток дискуссий о&nbsp;стандартах безопасности в&nbsp;криптоиндустрии.',
            button: 'Читать',
            link: 'https://forklog.com/zapusk-zcash-pervaya-reaktsiya-rynkov-i-sotssetej/',
            rate: '$710',
        },
        {
            left: 5306,
            prvBottom: 518,
            dotBottom: 262,
            content: '28&nbsp;октября 2016 года&nbsp;&mdash; Официальный запуск криптовалюты Zcash. Она стала первой криптовалютой с&nbsp;алгоритмом консенсуса на&nbsp;основе доказательства с&nbsp;нулевым разглашением (zero-knowledge proof). Сейчас Zcash остается одной из&nbsp;популярнейших анонимных криптовалют.',
            link: 'https://forklog.com/v-pervyj-den-2017-goda-tsena-bitkoina-prevysila-1000/',
            rate: '$1,000',
        },
        {
            left: 5430,
            prvBottom: 375,
            dotBottom: 284,
            content: '1&nbsp;января 2017 года&nbsp;&mdash; Впервые с&nbsp;декабря 2013 цена биткоина преодолела рубеж в&nbsp;$1000. Начало первого &laquo;туземуна&raquo; первой криптовалюты. К&nbsp;концу года ее&nbsp;цена достигнет $20,000.',
            button: 'Читать',
            link: 'https://forklog.com/double-trouble-sec-otkazala-bratyam-uinklvossam-v-zapuske-bitkoin-etf/',
            rate: '$1,300',
        },
        {
            left: 5565,
            prvBottom: 518,
            dotBottom: 296,
            content: '10&nbsp;марта 2017&nbsp;&mdash; SEC отказала братьям Уинклвоссам в&nbsp;запуске привязанного к&nbsp;биткоину биржевого инвестиционного фонда (ETF). Новость вызвала резкий обвал цены биткоина, который ранее днем торговался на&nbsp;рекордном уровне около $1350, однако затем упал ниже $1000.',
            button: 'Читать',
            link: 'https://forklog.com/v-yaponii-vstupil-v-silu-zakon-priznayushhij-kriptovalyuty-zakonnym-sposobom-oplaty/',
            rate: '$1,085',
        },
        {
            left: 5590,
            prvBottom: 544,
            dotBottom: 296,
            content: '1&nbsp;апреля 2017&nbsp;&mdash; Биткоин и&nbsp;другие криптовлюты признаны законным платежным средством в&nbsp;Японии. Новый закон сделал возможным использование криптовалют для осуществления расчетов и&nbsp;перемещения цифровых активов между компаниями и&nbsp;физическими лицами. Также он&nbsp;позволил банковским структурам запускать новые системы расчетов и&nbsp;упростил процедуру покупки IT-предприятий.',
            button: 'Читать',
            link: 'https://forklog.com/klyuchevye-igroki-bitkoin-industrii-podpisali-soglashenie-ob-aktivatsii-segregated-witness-i-hardforke/',
            rate: '$2,286.75',
        },
        {
            left: 5689,
            prvBottom: 641,
            dotBottom: 296,
            content: '23&nbsp;мая 2017 года&nbsp;&mdash; Подписание Нью-Йоркского соглашения. Оно презентовалось как намерение запустить имплементацию протокола Segregated Witness (SegWit) с&nbsp;увеличением размера блока до&nbsp;2&nbsp;Мб, но&nbsp;не&nbsp;учитывало мнение разработчиков биткоина. План получил название &laquo;SegWit2x&raquo; и&nbsp;стал причиной раскола в&nbsp;криптосообществе.',
            rate: '$2,873',
        },
        {
            
            content: '1&nbsp;июля 2017&nbsp;&mdash; Запуск криптовалютной биржи Binance. Вскоре она вошла в&nbsp;число самых популярных торговых площадок в&nbsp;криптоиндустрии: через год на&nbsp;бирже было 7,9 млн пользователей.',
            button: 'Читать',
            link: 'https://forklog.com/vlasti-ssha-konfiskovali-domen-btc-e/',
            rate: '$2,562.88',
            left: 5787,
            prvBottom: 435,
            dotBottom: 344,
        },
        {
            
            content: '25&nbsp;июля 2017&nbsp;&mdash; Популярная среди русскоязычных пользователей биржа BTC-e ушла в&nbsp;офлайн. Вскоре Управление по&nbsp;борьбе с&nbsp;финансовыми преступлениями США (FinCEN) наложило на&nbsp;BTC-e штраф в&nbsp;размере $110 млн за&nbsp;нарушение законов США о&nbsp;борьбе с&nbsp;отмыванием денег, а&nbsp;власти США конфисковали домен биржи. Позднее в&nbsp;Греции по&nbsp;обвинению в&nbsp;причастности к&nbsp;отмыванию более $4&nbsp;млрд был арестован предполагаемый совладелец BTC-e Александр Винник.',
            button: 'Читать',
            link: 'https://forklog.com/tsena-bitkoina-podnyalas-vyshe-2900-na-fone-aktivatsii-uasf/',
            rate: '$2,900',
            left: 5837,
            prvBottom: 445,
            dotBottom: 344,
        },
        {
            left: 5862,
            prvBottom: 455,
            dotBottom: 366,
            content: '1&nbsp;августа 2017 года&nbsp;&mdash; Хардфорк Bitcoin Cash. Его поддержали &laquo;Биткоин-Иисус&raquo; Роджер Вер и&nbsp;Крейг Райт.',
            button: 'Читать',
            link: 'https://forklog.com/kompaniya-coinbase-stala-pervym-edinorogom-v-bitkoin-industrii/',
            rate: '$3,416.10',
        },
        {
            content: '1&nbsp;августа 2017&nbsp;&mdash; в&nbsp;сети биткоина активирован софтфорк UASF (активируемый пользователями софтфорк&nbsp;&mdash; BIP 148). Благодаря этому стала возможной активация протокола SegWit.',
            button: 'Читать',
            link: 'https://forklog.com/v-seti-bitkoina-sostoyalsya-hardfork-bitcoin-cash/',
            rate: '$2753.44',
            left: 5862,
            prvBottom: 613,
            dotBottom: 344,
        },
        {
            left: 5887,
            prvBottom: 624,
            dotBottom: 366,
            content: '24&nbsp;августа 2017 года&nbsp;&mdash; Активация протокола Segregated Witness в&nbsp;основной сети биткоина. Протокол менял способ хранения информации в&nbsp;блоках. Это позволило повысить пропускную способность сети, устранило проблему с&nbsp;пластичностью транзакций и&nbsp;способствовало развитию протокола Lightning Network.',
            button: 'Читать',
            link: 'https://forklog.com/v-kitae-zapretili-provedenie-ico-novost-dopolnyaetsya/',
            rate: '$4,229.92',
        },
        {
            left: 5887,
            prvBottom: 630,
            dotBottom: 344,
            content: '10&nbsp;августа 2017&nbsp;&mdash; Coinbase стала первой компанией-единорогом в&nbsp;криптоиндустрии. После закрытия очередного раунда финансирования рыночная стоимость Coinbase превысила $1&nbsp;млрд.',
            button: 'Смотреть видеокомментарий',
            rate: '$4,245.79',
        },
        {
            
            content: '3&nbsp;сентября 2017 года&nbsp;&mdash; Запрет на&nbsp;проведение ICO в&nbsp;Китае. С&nbsp;него началось массовое закрытие местных бирж, либо их&nbsp;переезд в&nbsp;другие юрисдикции.',
            button: 'Читать',
            link: 'https://forklog.com/finansovyj-regulyator-yuzhnoj-korei-zapretil-ico-novost-dopolnyaetsya/',
            rate: '~ $4,250',
            left: 5912,
            prvBottom: 556,
            dotBottom: 344,
        },
        {
            
            content: '29&nbsp;сентября 2017 года&nbsp;&mdash; Запрет на&nbsp;проведение ICO в&nbsp;Южной Корее. Решение ускорило схлопывание пузыря ICO и&nbsp;обозначило глобальный тренд на&nbsp;ужесточение регулирования криптовалют.',
            rate: '~ $6,275',
            left: 5962,
            prvBottom: 457,
            dotBottom: 344,
        },
        {
            
            content: 'Октябрь 2017 года&nbsp;&mdash; Капитализация биткоина превысила $100&nbsp;млрд.',
            button: 'Читать',
            link: 'https://forklog.com/ofitsialno-hardfork-segwit2x-otmenyaetsya/',
            rate: '$7,207.41',
            left: 5987,
            prvBottom: 472,
            dotBottom: 366,
        },
        {
            
            content: '8&nbsp;ноября 2017 года&nbsp;&mdash; Отмена хардфорка SegWit2x, направленного на&nbsp;увеличение блока до&nbsp;2&nbsp;Мб. Решение положило конец острым разногласиям в&nbsp;сообществе.',
            button: 'Читать',
            link: 'https://forklog.com/tsena-bitkoina-ustremilas-vverh-na-fone-zapuska-fyuchersov-na-cboe/',
            rate: '$17,361.30',
            left: 6012,
            prvBottom: 467,
            dotBottom: 366,
        },
        {
            
            content: '11&nbsp;декабря 2017 года&nbsp;&mdash; Запуск биткоин-фьючерсов на&nbsp;бирже CBOE. Она стала первой регулируемой биржей, которая запустила срочные финансовые инструменты на&nbsp;основе биткоина.',
            button: 'Смотреть видеокомментарий',
            rate: '$19,276.10',
            left: 6093,
            prvBottom: 667,
            dotBottom: 410,
        },
        {
            left: 6118,
            prvBottom: 648,
            dotBottom: 432,
            content: '18&nbsp;декабря 2017 года&nbsp;&mdash; Запуск биткоин-фьючерсов на&nbsp;CME. После него началась резкая коррекция цены первой криптовалюты, предвосхитившая так называмую криптозиму.',
            rate: '$13,830',
        },
        {
            left: 6118,
            prvBottom: 690,
            dotBottom: 410,
            content: '17&nbsp;декабря 2017 года&nbsp;&mdash; Цена биткоина обновила абсолютный максимум на&nbsp;отметке &nbsp;$20&nbsp;000',
            button: 'Читать',
            link: 'https://forklog.com/na-chikagskoj-tovarnoj-birzhe-startovali-fyuchersami-na-bitkoin/',
            rate: '$18,777.30',
        },
        {
            
            content: '13&nbsp;января 2018&nbsp;&mdash; Добыто&nbsp;80% от&nbsp;общего количества всех биткоинов (16,800,000&nbsp;BTC).',
            button: 'Читать',
            link: 'https://forklog.com/bitkoin-birzha-coincheck-podtverdila-hishhenie-bolee-polumilliona-dollarov-v-kripovalyute-nem/',
            rate: '$11,068.60',
            left: 6168,
            prvBottom: 509,
            dotBottom: 410,
        },
        {
            
            content: '26&nbsp;января 2018 года&nbsp;&mdash; Взлом японской биржи Coincheck, по&nbsp;масштабам сопоставимый с&nbsp;крахом Mt. Gox. Представители торговой площадки сообщили о&nbsp;краже &yen;58 млрд ($533&nbsp;млн) в&nbsp;криптовалюте NEM.',
            button: 'Читать',
            link: 'https://forklog.com/lightning-labs-predstavili-pervuyu-beta-versiyu-klienta-lnd-dlya-osnovnoj-seti-bitkoina/',
            rate: '$8,307.16',
            left: 6193,
            prvBottom: 506,
            dotBottom: 388,
        },
        {
            
            content: '15&nbsp;марта 2018&nbsp;&mdash; Lightning Labs объявили о&nbsp;релизе lnd 0.4, первой бета-версии клиента Lightning Network. Этот день считается официальным запуском&nbsp;LN в&nbsp;основной сети биткоина.',
            button: 'Читать',
            link: 'https://forklog.com/telegram-sobral-850-mln-vo-vtorom-raunde-zakrytogo-ico/',
            rate: '~ $7,100',
            left: 6291,
            prvBottom: 491,
            dotBottom: 400,
        },
        {
            
            content: 'Конец марта 2018 года&nbsp;&mdash; Telegram завершил одно из&nbsp;крупнейших в&nbsp;истории регулируемых ICO: всего собрали $1,7&nbsp;млрд.',
            button: 'Читать',
            link: 'https://forklog.com/shvejtsarskij-analog-bitkoin-etf-stal-liderom-po-obemu-torgov-na-birzhe-six/',
            rate: '~ $6,573',
            left: 6316,
            prvBottom: 645,
            dotBottom: 356,
        },
        {
            
            content: 'Октябрь 2018 года&nbsp;&mdash; запуск швейцарского аналога биткоин-ETF на&nbsp;бирже SIX Swiss Exchange. Это сделало Швейцарию более привлекательной юрисдикцией для криптовалютных бирж, чем США.',
            rate: '$4,500',
            left: 6686,
            prvBottom: 643,
            dotBottom: 356,
        },
        {
            
            content: 'Ноябрь 2018&nbsp;&mdash; Хардфорк Bitcoin Cash, появление Bitcoin SV&nbsp;и&nbsp;начало &laquo;войн хешрейтов&raquo;. Появление форков форков биткоина вызывает критику у&nbsp;части криптосообщества.',
            rate: '4089.92',
            left: 6776,
            prvBottom: 455,
            dotBottom: 344,
        },
        {
            
            content: 'Январь 2019&nbsp;&mdash; Проект BitTorrent провел первое в&nbsp;истории IEO на&nbsp;платформе Binance Launchpad. За&nbsp;15&nbsp;минут собрали $7,2&nbsp;млн.',
            button: 'Читать',
            link: 'https://forklog.com/sostoyalsya-reliz-bitcoin-core-0-18-0/',
            rate: '$5,492.02',
            left: 6893,
            prvBottom: 693,
            dotBottom: 315,
        },
        {
            left: 7093,
            prvBottom: 526,
            dotBottom: 356,
            content: '8&nbsp;мая 2019&nbsp;&mdash; Взлом биржи Binance. Похищено&nbsp;7,000&nbsp;BTC.',
            button: 'Смотреть видеокомментарий',
            rate: '$9,081.76',
        },
        {
            content: '2&nbsp;мая 2019&nbsp;&mdash; Релиз Bitcoin Core&nbsp;0.18.0. Главной особенностью нового релиза стала нативная поддержка аппаратных кошельков.',
            button: 'Читать',
            link: 'https://forklog.com/bitkoin-birzha-binance-podverglas-hakerskoj-atake-pohishheno-7000-btc/',
            rate: '$5,928.99',
            left: 7093,
            prvBottom: 498,
            dotBottom: 334,
        },
        {
            left: 7194,
            prvBottom: 707,
            dotBottom: 388,
            content: '21&nbsp;июня 2019&nbsp;&mdash; Группа разработки финансовых мер для борьбы с&nbsp;отмыванием денег (FATF) опубликовала финальную версию рекомендаций для регулирования регулирование криптовалютной индустрии. Рекомендации требуют обязать провайдеров криптовалютных услуг соблюдать процедуры AML и&nbsp;CFT (противодействие финансированию терроризма) наравне с&nbsp;традиционными финансовыми компаниями.',
            button: 'Читать',
            link: 'https://forklog.com/sec-odobrila-provedenie-tokensejla-blockstack-na-28-mln-eto-pervyj-podobnyj-sluchaj-v-istorii/',
            rate: '$11,837.06',
        },
        {
            left: 7194,
            prvBottom: 707,
            dotBottom: 366,
            content: '18&nbsp;июня 2019 года&nbsp;&mdash; Facebook анонсировал запуск цифровой валюты Libra. Благодаря двухмиллиардной аудитории Facebook часть криптосообщества связывает с&nbsp;Libra надежду на&nbsp;массовое принятие криптовалют.',
            button: 'Читать',
            link: 'https://forklog.com/fatf-reshila-uzhestochit-kontrol-nad-bitkoin-industriej-nesmotrya-na-predosterezheniya-ekspertov-o-neblagopriyatnyh-posledstviyah/',
            rate: '$9,932.57',
        },
        {
            
            content: '11&nbsp;июля 2019&nbsp;&mdash; Комиссия по&nbsp;ценным бумагам и&nbsp;биржам США (SEC) впервые одобрила проведение регулируемого токенсейла. В&nbsp;частности, была одобрена заявка нью-йоркской компании Blockstack.',
            button: 'Смотреть видеокомментарий',
            rate: '$10,300',
            left: 7244,
            prvBottom: 699,
            dotBottom: 388,
        },
        {
            
            content: '25&nbsp;августа 2019 года&nbsp;&mdash; изданию ForkLog исполнилось пять лет.',
            rate: '',
            left: 7319,
            prvBottom: 526,
            dotBottom: 386,
        },
        {
            
            content: '1&nbsp;января 2020&nbsp;&mdash; Джон Макафи выполнил обещание, но&nbsp;подавился.',
            rate: '',
            left: 7503,
            prvBottom: 499,
            dotBottom: 416,
        },
        {
            
            content: '18&nbsp;июня 2022&nbsp;&mdash; Найдены неопровержимые доказательства того, что Сатоши Накамото было Лох-Несское чудовище.',
            rate: '',
            left: 7649,
            prvBottom: 523,
            dotBottom: 438,
        },
        {
            
            content: '19&nbsp;февраля 2023&nbsp;&mdash; Предложение регуляторов легализовать марихуану в&nbsp;обмен на&nbsp;запрет IEO привело к&nbsp;окончательному расколу криптосообщества.',
            rate: '$500,000',
            left: 7790,
            prvBottom: 610,
            dotBottom: 524,
        },
        {
            
            content: '13&nbsp;октября 2024&nbsp;&mdash; Цена биткоина достигла $500&nbsp;тысяч. &laquo;Поспешишь&nbsp;&mdash; людей насмешишь&raquo;,&nbsp;&mdash; прокомментировал новость Джон Макафи.',
            rate: '???',
            left: 7919,
            prvBottom: 674,
            dotBottom: 600,
        },
        {
            left: 8054,
            prvBottom: 730,
            dotBottom: 643,
            content: '12&nbsp;апреля 2026&nbsp;&mdash; основатель ForkLog Анатолий Каплан купил Disney за&nbsp;0,5&nbsp;BTC.',
            rate: '',
        },
    ]
    
section.timeline
    //- .timeline_scroll
        .timeline_large
            #timeline.timeline_canvas

    .timeline_overflow
        .timeline_inner
            .timeline_graph
                .timeline_events
                    each event, i in events
                        - const num = i+1;  
                        .timeline_event(style=`left:${event.left}px;height:${event.prvBottom + 114}px` data-offset=`${event.prvBottom - event.dotBottom - 9}` data-rate=event.rate)
                            .timeline_event_item
                                .timeline_event_item_inner
                                    .timeline_event_preview
                                        img(src=`../assets/img/events/preview/${num}@2x.jpg`, alt='')
                                        //- img(srcset=`../assets/img/events/preview/${num}.jpg 1x, ../assets/img/events/preview/${num}@2x.jpg 2x` src=`../assets/img/events/preview/${num}.jpg`, alt='')
                                    .timeline_event_content
                                        p!=event.content
                                        .timeline_event_content_bottom
                                            .timeline_event_rate
                                                .timeline_event_rate_inner
                                                    | 1BTC
                                                    =event.rate.substr(0, 1) != '~' ? ' = ' : ' '
                                                    !=event.rate
                                            if event.button
                                                #{event.link ? 'a' : 'button'}(class="button hollow secondary" data-open=!event.link ? `popup${num}` : false href=event.link || false target=event.link ? '_blank' : false)
                                                    span=event.button
                            span.timeline_event_line(style=`bottom:${event.dotBottom + 25}px`)
                            button.timeline_event_dot(style=`bottom:${event.dotBottom}px`)
                                span.timeline_event_dot_square
                img(srcset='./assets/img/graph.png 1x, ./assets/img/graph@2x.png 2x' src="./assets/img/graph.png", alt="Курс Bitcoin")
    //- .timeline_controls
        .grid-container.timeline_controls_inner
            button.timeline_control.timeline_control--back
                +icon('arrow_left', [17, 8])
                | начало
            button.timeline_control.timeline_control--forward
                | Наши дни
                +icon('arrow_right', [16, 8])
    //- .timeline_years
        .button.hollow.small.timeline_years_button
            span 2008 - 2009